<template>
  <q-btn icon="add" @click="isOpened = true">Создать мероприятие</q-btn>
  <q-dialog v-model="isOpened" @hide="cleanupFields">
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Создание мероприятия</div>
        <q-space />
        <q-btn icon="close" flat round dense @click="isOpened = false" />
      </q-card-section>
      <q-separator />
      <q-card-section>
        <q-form class="q-gutter-md" @submit="onSubmit">
          <q-input
            v-model="title"
            label="Название"
            :error="v$.title.$error"
            :error-message="v$.title.$errors[0]?.$message"
          />
          <q-input
            v-model="description"
            label="Описание"
            type="textarea"
          />
          <q-input v-model="start" label="Начало">
            <template #prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                  <q-date v-model="start" mask="DD-MM-YYYY HH:mm">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
            <template #append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                  <q-time v-model="start" mask="DD-MM-YYYY HH:mm" format24h>
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" flat />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-input v-model="finish" label="Конец">
            <template #prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                  <q-date v-model="finish" :mask="$options.dateFormat">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
            <template #append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                  <q-time v-model="finish" :mask="$options.dateFormat" format24h>
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" flat />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-input
            v-model="maxNumberOfParticipants"
            type="number"
            min="1"
            label="Максимальное число участников"
            hint="Оставьте пустым, если число участников неограничено"
          />
          <div>
            <q-btn label="Создать" type="submit" />
            <q-btn label="Очистить" type="reset" @click="cleanupFields()" flat />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { date } from 'quasar';
import { required } from '@vuelidate/validators';
import useVuelidate from '@vuelidate/core';

export default {
  name: 'EventCreate',
  dateFormat: 'DD-MM-YYYY HH:mm',
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  data() {
    return {
      isOpened: false,
      title: '',
      description: '',
      start: null,
      finish: null,
      maxNumberOfParticipants: null,
    };
  },
  validations() {
    return {
      title: {
        required,
        $autoDirty: true,
      },
    };
  },
  emits: ['updateEventList'],
  methods: {
    dateFormatting(localDate) {
      return date.formatDate(
        date.extractDate(localDate, this.$options.dateFormat),
        'YYYY-MM-DDTHH:mm:ss.SSSZ',
      );
    },
    onSubmit() {
      this.v$.$touch();
      if (this.v$.$error) {
        return;
      }
      this.$api.post('/api/events/', {
        name: this.title,
        description: this.description,
        start: this.dateFormatting(this.start),
        finish: this.dateFormatting(this.finish),
        max_number_of_participants: this.maxNumberOfParticipants,
      })
        .then(() => {
          this.$q.notify({
            message: 'Мероприятие успешно создано',
            type: 'positive',
          });
          this.isOpened = false;
          this.$emit('updateEventList');
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла неизвестная ошибка при создании мероприятия',
            type: 'negative',
          });
        });
    },
    cleanupFields() {
      this.title = '';
      this.description = '';
      this.start = null;
      this.finish = null;
      this.maxNumberOfParticipants = null;
      this.v$.$reset();
    },
  },
};
</script>
