<template>
  <div v-if="!loading">
    <div
      class="q-pa-md"
      v-if="canUserCreateEvent"
    >
      <event-create @updateEventList="updateEventList()"/>
    </div>
    <div class="q-pa-md row">
      <div class="col-12 text-h6">Ближайшее мероприятие</div>
      <event-card class="col-12" :event="upcomingEvent"/>
    </div>
    <div class="q-pa-md q-gutter-md row">
      <div class="col-12 text-h6">Текущие мероприятия</div>
      <event-card
        v-for="event in availableEvents"
        :key="event.id"
        :event="event"
        class="col-3"
      />
    </div>
    <div class="q-pa-md q-gutter-md row">
      <div class="col-12 text-h6">Прошедшие мероприятия</div>
      <event-card
        v-for="event in pastEvents"
        :key="event.id"
        :event="event"
        class="col-3"
      />
    </div>
  </div>
</template>

<script>
import EventCard from 'components/workspace/events/EventCard';
import EventCreate from 'components/workspace/events/EventCreate';
import { date } from 'quasar';

export default {
  name: 'EventHome',
  components: {
    EventCreate,
    EventCard,
  },
  computed: {
    canUserCreateEvent() {
      return Object.values(this.$store.getters['auth/authScopes'])
        .includes('event:create');
    },
    pastEvents() {
      return this.events.filter((event) => {
        const eventCreateDate = date.extractDate(event.start, 'YYYY-MM-DDTHH:mm:ss');
        return eventCreateDate < Date.now();
      });
    },
    availableEvents() {
      return this.events.filter((event) => {
        const eventCreateDate = date.extractDate(event.start, 'YYYY-MM-DDTHH:mm:ss');
        return eventCreateDate > Date.now();
      });
    },
    upcomingEvent() {
      return this.sortEventsByStartTimestamp(this.availableEvents)[0];
    },
  },
  data() {
    return {
      loading: true,
      events: [],
      isCreateDialogOpened: false,
    };
  },
  async mounted() {
    await this.updateEventList();
  },
  methods: {
    sortEventsByStartTimestamp(events) {
      return Array.from(events)
        .sort((first, second) => {
          const firstCreateDate = date.extractDate(first.start, 'YYYY-MM-DDTHH:mm:ss');
          const secondCreateDate = date.extractDate(second.start, 'YYYY-MM-DDTHH:mm:ss');

          if (firstCreateDate > secondCreateDate) {
            return 1;
          }
          if (firstCreateDate < secondCreateDate) {
            return -1;
          }
          return 0;
        });
    },
    updateEventList() {
      this.$api.get('/api/events/')
        .then((response) => {
          this.events = response.data;
        })
        .catch(() => {
          this.$q.notify({
            color: 'negative',
            message: 'Не удалось загрузить список мероприятий',
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
