<template>
  <q-card v-if="isLoaded">
    <q-card-section>
      <div class="text-h3 text-weight-bold text-uppercase">{{ event.name }}</div>
    </q-card-section>
    <q-card-section>
      {{ event.created_at }}
    </q-card-section>
    <q-card-section>
      {{ event.description }}
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="text-h4">Запись на мероприятие</div>
      <event-register v-if="!event.is_registered" :event-id="Number($route.params.id)" />
      <div class="text-body1" v-else>Вы уже зарегистрированы на мероприятие</div>
    </q-card-section>
  </q-card>
</template>

<script>
import EventRegister from 'components/workspace/events/EventRegister';

export default {
  name: 'EventDetail',
  components: { EventRegister },
  data() {
    return {
      event: null,
      isLoaded: false,
    };
  },
  mounted() {
    this.$api.get(`/api/events/${this.$route.params.id}`)
      .then((response) => {
        this.event = response.data;
      })
      .catch(() => {
        this.$q.notify({
          type: 'negative',
          message: 'Произошла неизвестная ошибка при получении информации о мероприятии',
        });
        this.$router.back();
      })
      .finally(() => {
        this.isLoaded = true;
      });
  },
};
</script>
