<template>
  <div class="q-pa-md">
    <q-stepper
      v-model="step"
      ref="stepper"
    >
      <q-step
        :name="1"
        :done="step > 1"
        title="Выбор состава"
      >
        <q-select
          v-model="selectedTrain"
          label="Выберите состав"
          :options="options"
          option-value="id"
          option-label="name"
          :error="v$.selectedTrain.$error"
          :error-message="v$.selectedTrain.$errors[0]?.$message"
        />
      </q-step>
      <q-step
        :name="2"
        :done="step > 2"
        title="Подтвердите выбор"
      >
        Вы уверены, что хотите подать заявку?
      </q-step>
      <template v-slot:navigation>
        <q-stepper-navigation>
          <q-btn
            @click="changeStep"
            :label="step === 2 ? 'Отправить заявку' : 'Продолжить'"
          />
          <q-btn
            v-if="step > 1"
            flat
            @click="$refs.stepper.previous()"
            label="Назад"
            class="q-ml-sm"
          />
        </q-stepper-navigation>
      </template>
    </q-stepper>
  </div>
</template>

<script>
import { QSpinnerHourglass } from 'quasar';
import useVuelidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';

export default {
  name: 'EventRegister',
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  data() {
    return {
      step: 1,
      selectedTrain: null,
      options: [],
    };
  },
  validations() {
    return {
      selectedTrain: {
        required,
        $autoDirty: true,
      },
    };
  },
  props: {
    eventId: {
      type: Number,
      required: true,
    },
  },
  async mounted() {
    this.$api.get(`/api/events/${this.eventId}/trains`)
      .then((response) => {
        this.options = response.data;
      })
      .catch(() => {
        this.$q.notify({
          type: 'negative',
          message: 'Произошла непредвиденная ошибка при попытке получения доступных составов',
        });
      });
  },
  methods: {
    submitHandler() {
      const config = {
        train_id: this.selectedTrain.id,
      };
      this.$q.loading.show({
        spinner: QSpinnerHourglass,
      });
      this.$api.post(`/api/events/${this.eventId}/register`, config)
        .then(() => {
          this.$q.notify({
            type: 'positive',
            message: 'Вы успешно зарегистрированы на мероприятие',
          });
        })
        .catch(() => {
          this.$q.notify({
            type: 'negative',
            message: 'Произошла неизвестная ошибка при записи на мероприятие',
          });
        })
        .finally(() => {
          this.$q.loading.hide();
          this.$router.push({ name: 'workspace-events-list' });
        });
    },
    changeStep() {
      this.v$.$touch();
      if (this.v$.$error) {
        return;
      }

      if (this.step !== 2) {
        this.$refs.stepper.next();
        return;
      }
      this.submitHandler();
    },
  },
};
</script>
