<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">{{ event.name }}</div>
      <q-chip icon="date_range">{{ localizedStartDate }}</q-chip>
      <q-chip icon="schedule">{{ localizedStartTime }}</q-chip>
    </q-card-section>
    <q-separator/>
    <q-card-section>
      <div v-if="event.max_number_of_participants">
        Осталось мест: {{
          Number(event.max_number_of_participants) - Number(event?.participants_count)
        }}
      </div>
      <div v-else>
        Количество мест не ограничено
      </div>
      <div>Карта: gm_metro_minsk_1984</div>
    </q-card-section>
    <q-separator/>
    <q-card-actions align="around">
      <q-btn
        flat
        @click="eventRegister"
        class="full-width"
        rounded
        :disable="registerButtonDisabled"
      >
        {{ noAvailableVacancies ? 'Свободных мест нет' : 'Зарегистрироваться' }}
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { date } from 'quasar';

export default {
  name: 'EventCard',
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    localizedStartTimestamp() {
      return date.extractDate(this.event.start, 'YYYY-MM-DDTHH:mm:ss');
    },
    localizedStartDate() {
      return date.formatDate(this.localizedStartTimestamp, 'DD.MM.YYYY');
    },
    localizedStartTime() {
      return date.formatDate(this.localizedStartTimestamp, 'HH:mm');
    },
    noAvailableVacancies() {
      return this.event.max_number_of_participants === this.event.participants_count;
    },
    registerButtonDisabled() {
      return this.noAvailableVacancies || (this.localizedStartTimestamp < Date.now());
    },
  },
  methods: {
    eventRegister() {
      this.$router.push({
        name: 'workspace-event-detail',
        params: { id: this.event.id },
      });
    },
  },
};
</script>
