<template>
  <q-footer class="text-blue-grey-5">
    <q-toolbar class="bg-grey-3">
      <div>Content</div>
    </q-toolbar>
    <q-toolbar class="bg-grey-4">
      <div>Made by Nikita Muzykantov. © 2021 All rights reserved.</div>
    </q-toolbar>
  </q-footer>
</template>

<script>
export default {
  name: 'AppFooter',
};
</script>
