<template>
  <q-dialog v-model="isOpen" @escape-key="close">
    <register-card
      v-if="isRegister"
      @openLoginForm="isRegister = false"
      @confirm="confirm"
      @close="close"
    />
    <login-card
      v-else
      @openRegisterForm="isRegister = true"
      @confirm="confirm"
      @close="close"
    />
  </q-dialog>
</template>

<script>
import LoginCard from 'components/LoginCard';
import RegisterCard from 'components/RegisterCard';

export default {
  name: 'LoginDialog',
  components: {
    RegisterCard,
    LoginCard,
  },
  currentPopupController: null,
  data() {
    return {
      isOpen: false,
      isRegister: true,
    };
  },
  methods: {
    open() {
      let resolve;
      let reject;
      const popupPromise = new Promise((ok, fail) => {
        resolve = ok;
        reject = fail;
      });

      this.$options.currentPopupController = { resolve, reject };
      this.isOpen = true;

      return popupPromise;
    },

    confirm() {
      this.$options.currentPopupController.resolve(true);
      this.isOpen = false;
      this.$router.push('/workspace');
    },

    close() {
      this.$options.currentPopupController.resolve(false);
      this.isOpen = false;
    },
  },
};
</script>
