<template>
  <q-card>
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">Авторизация</div>
          <q-space />
      <q-btn icon="close" flat round dense @click="$emit('close')" />
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-form @submit.prevent="login">
        <q-input
          name="username"
          v-model="username"
          label="username"
          label-color="dark"
          :error="v$.username.$error"
          :error-message="v$.username.$errors[0]?.$message"
        />
        <q-input
          label-color="dark"
          name="password"
          v-model="rawPassword"
          type="password"
          label="password"
          placeholder="Password"
          :error="v$.rawPassword.$error"
          :error-message="v$.rawPassword.$errors[0]?.$message"
        />
        <q-btn type="submit">Войти</q-btn>
      </q-form>
      <q-btn @click="$emit('openRegisterForm')">Регистрация</q-btn>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <form action="https://steamcommunity.com/openid/login" method="post">
        <input type="hidden" name="openid.identity"
               value="http://specs.openid.net/auth/2.0/identifier_select" />
        <input type="hidden" name="openid.claimed_id"
               value="http://specs.openid.net/auth/2.0/identifier_select" />
        <input type="hidden" name="openid.ns" value="http://specs.openid.net/auth/2.0" />
        <input type="hidden" name="openid.mode" value="checkid_setup" />
        <input type="hidden" name="openid.realm" :value="$options.redirectUrl" />
        <input type="hidden" name="openid.return_to" :value="$options.redirectUrl" />
        <q-btn type="submit" color="dark">Войти через Steam</q-btn>
      </form>
    </q-card-section>
    <q-separator />
  </q-card>
</template>

<script>

import { required, minLength } from '@vuelidate/validators';
import useVuelidate from '@vuelidate/core';

export default {
  name: 'LoginCard',
  redirectUrl: `${process.env.VUE_DOMAIN_NAME}login`,
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  data() {
    return {
      username: '',
      rawPassword: '',
    };
  },
  validations() {
    return {
      username: {
        required,
        $autoDirty: true,
      },
      rawPassword: {
        required,
        $autoDirty: true,
        minLength: minLength(6),
      },
    };
  },
  emits: ['openRegisterForm', 'confirm', 'close'],
  methods: {
    async login() {
      this.v$.$touch();
      if (this.v$.$error) {
        return;
      }
      const [username, rawPassword] = [this.username, this.rawPassword];
      await this.$store.dispatch('auth/login', { username, rawPassword })
        .then(() => this.$emit('confirm'))
        .catch((error) => {
          if (error.response.status === 401) {
            this.$q.notify({
              message: 'Введены неверные логин и пароль',
              color: 'negative',
              icon: 'error',
            });
            return;
          }
          this.$q.notify({
            message: 'Произошла неизвестная ошибка при попытке войти',
            color: 'negative',
          });
        });
    },
  },
};
</script>
