<template>
  <q-card>
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">Регистрация</div>
      <q-space />
      <q-btn icon="close" flat round dense @click="$emit('close')" />
    </q-card-section>
    <q-card-section class="q-pt-none">
      <q-form @submit.prevent="register">
        <q-input
          v-model="mail"
          hint="email"
          label-color="dark"
          label="Email"
          :error="v$.mail.$error"
          :error-message="v$.mail.$errors[0]?.$message"
        />
        <q-input
          v-model="username"
          hint="username"
          label-color="dark"
          label="Username"
          :error="v$.username.$error"
          :error-message="v$.username.$errors[0]?.$message"
        />
        <q-input
          v-model="rawPassword"
          :type="passwordVisibility ? 'text' : 'password'"
          hint="password"
          label="Password"
          label-color="dark"
          :error="v$.rawPassword.$error"
          :error-message="v$.rawPassword.$errors[0]?.$message"
        >
          <template #append>
            <q-icon
              :name="passwordVisibility ? 'visibility_off' : 'visibility'"
              @click="passwordVisibility = !passwordVisibility"
            />
          </template>
        </q-input>
        <q-input
          v-model="passwordConfirmation"
          type="password"
          label="Password confirmation"
          label-color="dark"
          :error="v$.passwordConfirmation.$error"
          :error-message="v$.passwordConfirmation.$errors[0]?.$message"
        />
        <q-btn type="submit">Зарегистрироваться</q-btn>
      </q-form>

      <form action="https://steamcommunity.com/openid/login" method="post">
        <input type="hidden" name="openid.identity"
               value="http://specs.openid.net/auth/2.0/identifier_select" />
        <input type="hidden" name="openid.claimed_id"
               value="http://specs.openid.net/auth/2.0/identifier_select" />
        <input type="hidden" name="openid.ns" value="http://specs.openid.net/auth/2.0" />
        <input type="hidden" name="openid.mode" value="checkid_setup" />
        <input type="hidden" name="openid.realm" :value="$options.redirectUrl" />
        <input type="hidden" name="openid.return_to" :value="$options.redirectUrl" />
        <q-btn type="submit">Зарегистрироваться через Steam</q-btn>
      </form>
      <div>Есть аккаунт? <q-btn @click="$emit('openLoginForm')">Войти</q-btn></div>
    </q-card-section>
  </q-card>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import {
  required,
  minLength,
  sameAs,
  email,
} from '@vuelidate/validators';

export default {
  name: 'RegisterCard',
  redirectUrl: `${process.env.VUE_DOMAIN_NAME}login`,
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  data() {
    return {
      mail: '',
      username: '',
      rawPassword: '',
      passwordVisibility: false,
      passwordConfirmation: '',
    };
  },
  validations() {
    return {
      mail: {
        required,
        email,
        $autoDirty: true,
      },
      username: {
        required,
        $autoDirty: true,
        minLength: minLength(4),
      },
      rawPassword: {
        required,
        $autoDirty: true,
        minLength: minLength(6),
      },
      passwordConfirmation: {
        required,
        $autoDirty: true,
        sameAs: sameAs(this.rawPassword),
      },
    };
  },
  emits: ['openLoginForm', 'confirm', 'close'],
  methods: {
    register() {
      this.v$.$touch();
      if (this.v$.$error) {
        return;
      }

      const [mail, username, password] = [this.mail, this.username, this.rawPassword];
      this.$store.dispatch('auth/register', { mail, username, password })
        .then(() => this.$emit('confirm'));
    },
  },
};
</script>
