<template>
  <q-page class="container-limited q-mx-auto">
    <router-view />
  </q-page>
</template>

<script>
export default {
  name: 'Events',
};
</script>

<style scoped>
.container-limited {
  max-width: 990px;
}
</style>
