<template>
  <q-page>
    <q-tabs
      v-model="tab"
    >
      <q-tab
        v-for="tabInstance in tabList"
        :key="tabInstance.name"
        :name="tabInstance.name"
        :icon="tabInstance.icon"
        :label="tabInstance.label"
      />
    </q-tabs>
    <router-view />
  </q-page>
</template>

<script>
const tabList = [
  { name: 'ban', icon: 'history', label: 'История банов' },
  { name: 'roles', icon: 'groups', label: 'Роли' },
  { name: 'players', icon: 'people', label: 'Игроки' },
];

export default {
  name: 'ManagePage',
  data() {
    return {
      tab: 'ban',
      tabList,
    };
  },
};
</script>
