<template>
  <q-page padding>
    <router-view />
  </q-page>
</template>

<script>

export default {
  name: 'TrainPage',
};
</script>

<style scoped>
.container-limited {
  max-width: 990px;
}
</style>
