<template>
  <q-table
    title="История блокировок"
    :columns="columns"
    :rows="rows"
    :loading="loading"
  >
    <template #loading>
      <q-inner-loading showing color="primary" />
    </template>
  </q-table>
</template>

<script>
const columns = [
  {
    name: 'createdAt',
    label: 'Дата и время создания',
    field: 'created_at',
  },
  {
    name: 'username',
    label: 'Игрок',
    align: 'left',
    field: (row) => row.user_id,
  },
  {
    name: 'reason',
    label: 'Причина',
    field: 'reason',
  },
];

export default {
  name: 'BanHistory',
  data() {
    return {
      loading: true,
      rows: [],
      columns,
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.$api.get('/api/bans/')
        .then((response) => {
          this.rows = response.data;
        })
        .catch(() => {
          this.$q.notify({
            type: 'negative',
            message: 'Произошла неизвестная ошибка при получении истории банов',
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
