<template>
  <div class="row justify-center q-pa-md q-gutter-md">
    <div class="col">
      <ban-history/>
    </div>
    <div class="col">
      <role-view/>
    </div>
  </div>
  <div class="row q-pa-md">
    <div class="col">
      <member-list/>
    </div>
  </div>
</template>

<script>
import BanHistory from 'components/workspace/management/BanHistory';
import RoleView from 'components/workspace/management/RoleView';
import MemberList from 'components/workspace/management/MemberList';

export default {
  name: 'ManageHome',
  components: {
    MemberList,
    RoleView,
    BanHistory,
  },
};
</script>
