<template>
  <q-table
    :loading="loading"
    :rows="rows"
  >
    <template #loading>
      <q-inner-loading showing color="primary"/>
    </template>
  </q-table>
</template>

<script>
export default {
  name: 'ManagePermissions',
  data() {
    return {
      loading: true,
      rows: [],
    };
  },
  mounted() {
    this.$api.get('/api/roles/')
      .then((response) => {
        this.rows = response;
      })
      .finally(() => {
        this.loading = false;
      });
  },
};
</script>
