<template>
  <div class="row q-pa-md q-gutter-md">
    <div class="col">
      <q-card>
        <q-card-section>
          <div class="text-h6">Регистрационная информация</div>
        </q-card-section>
        <q-card-section>
          <div class="text-body1">Дата и время регистрации: {{ member.created_at ?? '-' }}</div>
        </q-card-section>
      </q-card>
    </div>
    <div class="col">
      <q-card>
        <q-card-section>
          <div class="text-h6">Информация о пользователе</div>
        </q-card-section>
        <q-card-section>
          <div class="text-body1">Логин: {{ member.username ?? '-' }}</div>
          <div class="text-body1">Email: {{ member.email ?? '-' }}</div>
          <div class="text-body1">Steam ID: {{ member.steam_id ?? '-' }}</div>
          <q-select
            :options="memberRoles"
            option-label="title"
            option-value="id"
            multiple
            v-model="roles"
            label="Роли"
          />
        </q-card-section>
      </q-card>
    </div>
    {{ member }}
  </div>
</template>

<script>
export default {
  name: 'MemberEdit',
  props: {
    memberId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      member: {},
      loading: true,
      roles: [],
    };
  },
  computed: {
    memberRoles() {
      return this.member.roles;
    },
  },
  mounted() {
    this.$api.get(`/api/users/${this.memberId}`)
      .then((response) => {
        this.member = response.data;
        this.roles = this.memberRoles;
      })
      .catch(() => {
        this.$q.notify({
          type: 'negative',
          message: 'Произошла неизвестная ошибка при получении информации об игроке',
        });
      })
      .finally(() => {
        this.loading = false;
      });
  },
};
</script>
