<template>
  <q-table
    title="Список игроков"
    :loading="loading"
    :rows="rows"
    row-key="id"
    :columns="columns"
  >
    <template #body-cell-username="props">
      <q-td :props="props">
        <q-btn
          :label="props.value"
          flat
          :to="{ name: 'workspace-manage-detail', params: { id: props.row.id } }"
        />
      </q-td>
    </template>
    <template #loading>
      <q-inner-loading showing color="primary"/>
    </template>
  </q-table>
</template>

<script>
const columns = [
  {
    name: 'id',
    label: '#',
    field: 'id',
  },
  {
    name: 'username',
    label: 'username',
    field: 'username',
    align: 'center',
  },
  {
    name: 'steamId',
    label: 'Steam ID',
    field: 'steam_id',
  },
  {
    name: 'isActive',
    label: 'Активен?',
    field: 'is_active',
  },
];

export default {
  name: 'MemberList',
  data() {
    return {
      loading: true,
      rows: [],
      columns,
    };
  },
  mounted() {
    this.$api.get('/api/users/')
      .then((response) => {
        this.rows = response.data;
      })
      .catch(() => {
        this.$q.notify({
          type: 'negative',
          message: 'Произошла неизвестная ошибка при получении списка игроков',
        });
      })
      .finally(() => {
        this.loading = false;
      });
  },
};
</script>
