<template>
  <q-table
    title="Список ролей"
    :rows="rows"
    row-key="title"
    :grid="$q.screen.lt.md"
    :columns="columns"
    :loading="loading"
  >
    <template #loading>
      <q-inner-loading showing color="primary"/>
    </template>
    <template #top-right>
      <q-btn
        icon="add"
        round
        flat
        @click="showRoleCreatingDialog"
      />
      <q-dialog v-model="roleCreateDialogOpened">
        <role-create
          :existing-roles="listOfAvailableRoles"
          @hide="roleCreateDialogOpened = false"
          @updateRoleTable="addRowInTable"
        />
      </q-dialog>
    </template>
  </q-table>
</template>

<script>
import RoleCreate from 'components/workspace/management/RoleCreate';

const columns = [
  {
    name: 'title',
    required: true,
    label: 'Название',
    field: 'title',
  },
  {
    name: 'parent',
    label: 'Наследуется от',
    field: 'parent',
  },
];

export default {
  name: 'RoleView',
  components: { RoleCreate },
  data() {
    return {
      loading: true,
      columns,
      rows: [],
      roleCreateDialogOpened: false,
    };
  },
  computed: {
    listOfAvailableRoles() {
      return this.rows.map((row) => ({ id: row.id, title: row.title }));
    },
  },
  mounted() {
    this.$api.get('/api/roles/')
      .then((response) => {
        this.rows = response.data;
      })
      .catch(() => {
        this.$q.notify({
          type: 'negative',
          message: 'Произошла неизвестная ошибка при получении ролей',
        });
      })
      .finally(() => {
        this.loading = false;
      });
  },
  methods: {
    showRoleCreatingDialog() {
      this.roleCreateDialogOpened = true;
    },
    addRowInTable(row) {
      this.rows.push(row);
    },
  },
};
</script>
