<template>
  <q-card>
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">Создать роль</div>
      <q-space/>
      <q-btn icon="close" flat round dense @click="$emit('hide')"/>
    </q-card-section>
    <q-card-section>
      <q-form class="q-gutter-md" @submit.prevent="onOkClick">
        <q-input
          v-model="title"
          label="Название"
        />
        <q-select
          v-model="inheritsFrom"
          label="Наследуется от"
          :options="existingRoles"
          option-label="title"
          option-value="id"
        />
        <q-btn
          type="submit"
          label="Добавить"
        />
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'RoleCreate',
  props: {
    existingRoles: {
      type: Array,
      required: true,
    },
  },
  emits: [
    'ok', 'hide', 'updateRoleTable',
  ],
  data() {
    return {
      title: '',
      inheritsFrom: null,
    };
  },
  methods: {
    onOkClick() {
      this.$api.post('/api/roles/', {
        title: this.title,
        parent: this.inheritsFrom?.id,
      })
        .then((response) => {
          this.$emit('updateRoleTable', response.data);
          this.$emit('hide');
        })
        .catch(() => {
          this.$q.notify({
            type: 'negative',
            message: 'Произошла неизвестная ошибка при создании роли',
          });
        });
    },
  },
};
</script>
