<template>
  <q-list>
    <q-item>
      <q-item-section>
        <q-avatar>
          <q-img src="https://cdn.quasar.dev/img/avatar.png">
            <template #loading>
              <q-skeleton type="QAvatar"/>
            </template>
          </q-img>
        </q-avatar>
      </q-item-section>
    </q-item>
    <q-separator/>
    <q-expansion-item
      icon="person"
      label="Профиль"
      group="someGroup"
    >
      <q-item
        :inset-level="1"
        clickable
        :to="{ name: 'workspace-account' }"
        active-class="text-accent"
      >
        <q-item-section avatar>
          <q-icon name="edit"/>
        </q-item-section>
        <q-item-section>Изменить</q-item-section>
      </q-item>
    </q-expansion-item>
    <q-item
      clickable
      disable
    >
      <q-item-section avatar>
        <q-icon name="feed"/>
      </q-item-section>
      <q-item-section>Новости</q-item-section>
    </q-item>
    <q-item
      clickable
      :to="{ name: 'workspace-events-list' }"
      active-class="text-accent"
    >
      <q-item-section avatar>
        <q-icon name="event"/>
      </q-item-section>
      <q-item-section>Мероприятия</q-item-section>
    </q-item>
    <q-item
      clickable
      :to="{ name: 'workspace-trains-list'}"
      active-class="text-accent"
    >
      <q-item-section avatar>
        <q-icon name="subway" />
      </q-item-section>
      <q-item-section>Мои составы</q-item-section>
    </q-item>
    <q-separator/>
    <q-item
      clickable
      disable
    >
      <q-item-section avatar>
        <q-icon name="settings"/>
      </q-item-section>
      <q-item-section>Настройки</q-item-section>
    </q-item>
    <q-item
      clickable
      disable
    >
      <q-item-section avatar>
        <q-icon name="help"/>
      </q-item-section>
      <q-item-section>Помощь</q-item-section>
    </q-item>
    <q-item
      clickable
      @click="logout"
    >
      <q-item-section avatar>
        <q-icon name="logout"/>
      </q-item-section>
      <q-item-section>Выйти</q-item-section>
    </q-item>
    <q-separator />
    <q-item
      clickable
      active-class="text-accent"
      :to="{ name: 'workspace-manage-list' }"
      v-if="canUserViewBans"
    >
      <q-item-section avatar>
        <q-icon name="manage_accounts" />
      </q-item-section>
      <q-item-section>Управление пользователями</q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  name: 'Sidebar',
  computed: {
    canUserViewBans() {
      return Object.values(this.$store.getters['auth/authScopes']).includes('ban:view');
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
        .then(() => this.$router.push({ name: 'login' }));
    },
  },
};
</script>
