<template>
  <q-layout view="lhh lpR lfr">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar class="text-dark bg-white">
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-space />

        <div>{{ $options.appVersion }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <sidebar />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import Sidebar from 'components/workspace/Sidebar';

export default {
  name: 'AppLayout',
  components: {
    Sidebar,
  },
  appVersion: process.env.VUE_APP_VERSION,
  data() {
    return {
      leftDrawerOpen: !this.$q.screen.lt.md,
    };
  },
  methods: {
    toggleLeftDrawer() {
      this.leftDrawerOpen = !this.leftDrawerOpen;
    },
  },
};
</script>
