<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="text-dark">
        <q-toolbar-title>
          Project Norank
        </q-toolbar-title>

        <q-space />
        <login-dialog ref="loginPopup" />
        <q-btn
          flat
          icon="perm_identity"
          v-if="!auth"
          @click="openPopup"
        >
          Войти
        </q-btn>
        <q-btn flat v-else icon="logout" @click="logout">Выйти</q-btn>
        <div>{{ $options.appVersion }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <app-footer />
  </q-layout>
</template>

<script>
import { defineComponent } from 'vue';
import LoginDialog from 'components/LoginDialog';
import AppFooter from 'components/AppFooter';

export default defineComponent({
  name: 'MainLayout',
  components: {
    AppFooter,
    LoginDialog,
  },
  appVersion: process.env.VUE_APP_VERSION,
  computed: {
    auth() {
      return this.$store.getters['auth/isLoggedIn'];
    },
  },
  methods: {
    async openPopup() {
      await this.$refs.loginPopup.open();
    },

    logout() {
      this.$store.dispatch('auth/logout');
    },
  },
});
</script>
