<template>
  <q-page>
    <q-carousel
      v-model="slide"
      vertical
      transition-prev="slide-down"
      transition-next="slide-up"
      swipeable
      animated
      control-color="black"
      navigation-icon="radio_button_unchecked"
      navigation
      padding
      arrows
      height="100%"
      class="bg-white text-black shadow-1 rounded-borders absolute-full"
      @wheel="wheel"
      ref="mainCarousel"
    >
      <q-carousel-slide name="style" class="column no-wrap flex-center">
        <div>{{ lorem }}</div>
      </q-carousel-slide>
      <q-carousel-slide name="copyright" class="column no-wrap flex-center">
        <q-icon name="live_tv" size="56px" />
        <div class="q-mt-md text-center">
          {{ lorem }}
        </div>
      </q-carousel-slide>
    </q-carousel>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  data() {
    return {
      trainList: [],
      slide: ref('style'),
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    };
  },
  methods: {
    wheel(e) {
      if (e.deltaY > 0) {
        this.$refs.mainCarousel.next();
      } else {
        this.$refs.mainCarousel.previous();
      }
    },
  },
});
</script>
