<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <img src="~assets/wave.svg" class="wave"/>
        <div class="row" style="height: 90vh">
          <div class="col-0 col-md-6 flex justify-center content-center">
            <img src="~assets/login.svg" class="responsive"/>
          </div>
          <div
            :class="{'justify-center': $q.screen.md || $q.screen.sm ||$q.screen.xs}"
            class="col-12 col-md-6 flex content-center"
          >
            <q-card :style="$q.screen.lt.sm ? {'width': '80%'} : {'width': '50%'}">
              <q-card-section>
                <div class="q-pt-lg">
                  <div class="col text-h6 ellipsis flex justify-center">
                    <h2 class="text-h2 text-uppercase q-my-none text-weight-regular">Войти</h2>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <q-form class="q-gutter-md">
                  <q-input disable label="username" hint="Пока недоступно"/>
                  <q-input disable label="password" hint="Пока недоступно"/>
                </q-form>
              </q-card-section>
              <q-card-actions align="center">
                <form action="https://steamcommunity.com/openid/login" method="post">
                  <input type="hidden" name="openid.identity"
                         value="http://specs.openid.net/auth/2.0/identifier_select"/>
                  <input type="hidden" name="openid.claimed_id"
                         value="http://specs.openid.net/auth/2.0/identifier_select"/>
                  <input type="hidden" name="openid.ns" value="http://specs.openid.net/auth/2.0"/>
                  <input type="hidden" name="openid.mode" value="checkid_setup"/>
                  <input type="hidden" name="openid.realm" :value="$options.redirectUrl"/>
                  <input type="hidden" name="openid.return_to" :value="$options.redirectUrl"/>
                  <q-btn
                    type="submit"
                    class="full-width"
                    label="Войти с помощью Steam"
                    color="dark"
                  />
                </form>
              </q-card-actions>
            </q-card>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'Login',
  redirectUrl: `${process.env.VUE_DOMAIN_NAME}steam-login`,
};
</script>

<style scoped>
.wave {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
</style>
