<template>
  <q-page>
    <q-inner-loading :showing="true">
        <q-spinner-gears size="50px" color="dark" />
    </q-inner-loading>
  </q-page>
</template>

<script>
import { URLSearchParams } from 'core-js/modules/web.url-search-params';

export default {
  name: 'Login',
  mounted() {
    const requestUrl = `${process.env.VUE_DOMAIN_NAME}api/auth/sign-in/steam?${new URLSearchParams(this.$route.query).toString()}`;
    this.$store.dispatch('auth/registerViaSteam', requestUrl)
      .then(() => {
        if (this.$store.getters['auth/isLoggedIn']) {
          this.$router.replace({ path: '/workspace' });
        } else {
          this.$router.replace({ path: '/' });
        }
      });
  },
};
</script>
