<template>
  <div class="row q-gutter-md" v-if="!!trainList.length && isLoaded">
    <train-card
      v-for="(train, idx) in trainList"
      :key="train.id"
      :train="train"
      class="col-md-5 col-lg-2"
      @remove="removeTrain(train.id, idx)"
    />
  </div>
  <div v-else-if="isLoaded" class="absolute-center text-uppercase text-weight-bold text-h4">
    У вас пока нет ни 1 созданного состава
  </div>
  <q-inner-loading :showing="!isLoaded" />
  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-btn fab icon="add" color="accent" @click="showCreateDialog"/>
  </q-page-sticky>
</template>

<script>
import TrainCard from 'components/workspace/trains/TrainCard';
import TrainCreate from 'components/workspace/trains/TrainCreate';

export default {
  name: 'TrainHome',
  components: { TrainCard },
  data() {
    return {
      trainList: [],
      isLoaded: false,
    };
  },
  mounted() {
    this.updateTrainList();
  },
  methods: {
    updateTrainList() {
      this.isLoaded = false;
      this.$api.get('/api/trains/')
        .then((response) => {
          this.trainList = response.data;
        })
        .finally(() => {
          this.isLoaded = true;
        });
    },
    showCreateDialog() {
      this.$q.dialog({
        component: TrainCreate,
      })
        .onOk(() => {
          this.updateTrainList();
        });
    },
    removeTrain(trainId, positionInTrainList) {
      this.$api.delete(`/api/trains/${trainId}`)
        .then(() => {
          this.$q.notify({
            type: 'positive',
            message: 'Состав успешно удален',
          });
          this.trainList.splice(positionInTrainList, 1);
        })
        .catch(() => {
          this.$q.notify({
            type: 'negative',
            message: 'Прозошла неизвестная ошибка при удалении состава',
          });
        });
    },
  },
};
</script>
