<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap">
          <div class="col">
            <div class="text-h6">Создание состава</div>
          </div>
          <div class="col-auto">
            <q-btn flat round icon="close" @click="hide" />
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <q-form @submit="createTrain">
          <q-input
            v-model="name"
            label="Название состава"
            :error="v$.name.$error"
            :error-message="v$.name.$errors[0]?.$message"
          />
          <q-btn type="submit" label="Создать" />
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';

export default {
  name: 'TrainCreate',
  emits: ['ok', 'hide'],
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  data() {
    return {
      name: '',
    };
  },
  validations() {
    return {
      name: {
        required,
        $autoDirty: true,
      },
    };
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    createTrain() {
      this.v$.$touch();
      if (this.v$.$error) {
        return;
      }
      this.$api.post('/api/trains/', {
        name: this.name,
        depot_id: '1',
      })
        .then(() => {
          this.hide();
          this.$q.notify({
            type: 'positive',
            message: 'Состав успешно создан',
          });
          this.$emit('ok');
        });
    },
  },
};
</script>
