<template>
  <q-card>
    <img src="~assets/760-icon.jpg" class="cursor-pointer" @click="openTrainDetail" />
    <q-card-section>
      <div class="row items-center no-wrap">
        <div class="col">
          <div class="text-h6">{{ train.name }}</div>
        </div>
        <div class="col-auto">
          <q-btn round flat icon="more_vert">
            <q-menu auto-close anchor="bottom left">
              <q-list>
                <q-item clickable>
                  Изменить
                </q-item>
                <q-item clickable @click="$emit('remove')">
                  Удалить
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'TrainCard',
  props: {
    train: {
      type: Object,
      required: true,
    },
  },
  emits: ['remove'],
  methods: {
    openTrainDetail() {
      this.$router.push({
        name: 'workspace-trains-detail',
        params: {
          id: this.train.id,
        },
      });
    },
  },
};
</script>
