<template>
  <q-card flat v-show="isLoaded">
    <q-card-section>
      <div class="text-h5">Информация о составе</div>
    </q-card-section>
    <q-card-section>
      <div class="text-h6">{{ train.name }}</div>
    </q-card-section>
    <q-card-section>
<!--      <q-btn label="Добавить" icon="add" @click="showCreateDialog" />-->
      <q-table
        title="Вагоны"
        :columns="columns"
        :rows="train.wagons"
      />
    </q-card-section>
  </q-card>
  <q-inner-loading :showing="!isLoaded"/>
</template>

<script>
import WagonCreate from 'components/workspace/trains/WagonCreate';

const columns = [
  {
    name: 'registrationNumber',
    label: 'Регистрационный номер',
    field: 'registration_number',
  },
  {
    name: 'type',
    label: 'Тип вагона',
    field: ((row) => row.type.code),
  },
  {
    name: 'position',
    label: 'Позиция в составе',
    field: 'train_position',
  },
  {
    name: 'mileage',
    label: 'Пробег',
    field: 'mileage',
  },
];

export default {
  name: 'TrainDetail',
  data() {
    return {
      train: {},
      isLoaded: false,
      columns,
    };
  },
  mounted() {
    this.$api.get(`/api/trains/${this.$route.params.id}`)
      .then((response) => {
        this.train = response.data;
      })
      .catch(() => {
        this.$q.notify({
          type: 'negative',
          message: 'Произошла неизвестная ошибка при попытке получить информацию о составе',
        });
        this.$router.push({ name: 'workspace-trains-list' });
      })
      .finally(() => {
        this.isLoaded = true;
      });
  },
  methods: {
    showCreateDialog() {
      this.$q.dialog({
        component: WagonCreate,
      })
        .onDismiss(() => {
          this.$q.notify({
            type: 'info',
            message: 'resolved',
          });
        });
    },
  },
};
</script>
