<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card>
      <q-card-section>
        <q-form>
          <q-input :model-value="type" />
        </q-form>
      </q-card-section>
      <q-card-actions>
        <q-btn label="OK" @click="onOkClick" />
        <q-btn label="Отменить" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'WagonCreate',
  emits: ['ok', 'hide'],
  data() {
    return {
      type: null,
    };
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    onOkClick() {
      this.$emit('ok');
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
  },
};
</script>
